<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Users To Alter</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/SearchUsersToAlter.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav">
    <nav class="container w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-48f2440cb377-292155b3">
                <a th:href="@{/}" class="link-block w-inline-block">
                    <h2 class="heading">5ECommerce</h2>
                </a>
            </li>
            <li>
                <a th:href="@{index}" class="link-block w-inline-block">
                    <h3 class="heading">Home</h3>
                </a>
            </li>
            <li>
                <div class="w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="searchteammembers">
                <h1>Alter Users</h1>
                <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Search By Username" id="username" required="">
                <input type="submit" value="Search" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
</div>
<div>
    <div class="w-container">
        <ul role="list" class="list w-list-unstyled">
            <li>Username </li>
            <li>IsActive?</li>
            <li>Role</li>
            <li>Select?</li>
        </ul>
        <ul role="list" class="list w-list-unstyled">
            <li>Username </li>
            <li>Manager</li>
            <li>Role</li>
            <li>Select?</li>
        </ul>
    </div>
</div>
</body>
</html>