<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alter Selected User</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/alterSelectedUser.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav">
    <nav class="container w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-48f2440cb377-292155b3">
                <a th:href="@{/}" class="link-block w-inline-block">
                    <h2 class="heading">5ECommerce</h2>
                </a>
            </li>
            <li>
                <a th:href="@{index}" class="link-block w-inline-block">
                    <h3 class="heading">Home</h3>
                </a>
            </li>
            <li>
                <div class="w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="w-container">
        <div class="div-block">
            <h1>Alter User</h1>
        </div>
    </div>
</div>
<div>
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="alter-user" th:action="@{adminAlterUserDone}" th:object="${user}" method="post">
                <label for="username">New Username:</label>
                        <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="New Username..." id="username" th:field = "*{username}">
                <label for="password">New Password</label>
                    <input type="text" class="w-input" maxlength="256" name="password" data-name="password" placeholder="New Password" id="password" required="" th:field = "*{password}">
                <input type="submit" value="Submit" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
</div>
</body>
</html>