<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/AdminHomepage.css}"/>

</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="container-8 w-container">
        <div>
            <a href="#" class="link-block-10 w-inline-block">
                <h5 class="heading-9">5ECommerce</h5>
            </a>
        </div>
        <div>
            <a href="#" class="link-block-10 w-inline-block">
                <h5 class="heading-9">Home</h5>
            </a>
        </div>
        <div>
            <a href="#" class="link-block-10 w-inline-block">
                <h5 class="heading-9">Messages</h5>
            </a>
        </div>
        <div>
            <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form"><input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button"></form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="section-4">
    <div class="container-3 w-container">
        <div>
            <a href="#" class="link-block-10 w-inline-block">
                <h4 class="heading-10">Update Deals </h4>
                <p>View or update the<br>Daily Deals</p>
            </a>
        </div>
        <div>
            <a href="#" class="link-block-10 w-inline-block">
                <h4 class="heading-11">Remove User</h4>
                <p>Remove a user<br>From the sysetm</p>
            </a>
        </div>
        <div>
            <a href="#" class="link-block-10 w-inline-block">
                <h4 class="heading-12">Remove Product</h4>
                <p>Remove a Product<br>From the System</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>