<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search User</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminCSS/SearchUser.css}"/>

</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="container-8 w-container">
        <div>
            <a th:href="@{/}" class="link-block-10 w-inline-block">
                <h5 class="heading-9">5ECommerce</h5>
            </a>
        </div>
        <div>
            <a th:href="@{index}" class="link-block-10 w-inline-block">
                <h5 class="heading-9">Home</h5>
            </a>
        </div>
        <div>
            <a href="#" class="link-block-10 w-inline-block">
                <h5 class="heading-9">Messages</h5>
            </a>
        </div>
        <div>
            <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" th:action="@{/logout}" th:method="post" class="form">
                    <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button">
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="section-4">
    <div class="container-9 w-container">
        <div>
            <h3>Search By Username</h3>
        </div>
        <div>
            <div class="w-form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" th:action="@{searchUser}" method="get">
                    <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Search Username..." id="username">
                    <input type="submit" value="Search" data-wait="Please wait..." class="w-button">
                </form>
            </div>
        </div>
    </div>
    <div class="returnedusers w-container">
        <h4 class="heading-14">Users:</h4>
        <div>
            <table border="1" align="center">
                <tr>
                    <th>Username</th>
                    <th>ID</th>
                    <th>Active</th>
                    <th>Permission</th>
                    <th>Role</th>
                    <th>Remove?</th>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${user.getUsername()}">John</td>
                    <td th:text="${user.getId()}">12</td>
                    <td th:text="${user.userIsActive()}">Active</td>
                    <td th:text="${user.getPermissions()}">Perm</td>
                    <td th:text="${user.getRoles()}">BUYER</td>
                    <td>
                        <a class="w-button"> X </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>