<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="fragments/header :: common-header">
    <title>Browse all products</title>
</head>


<body>
    <div th:replace="fragments/header :: header"></div>
    <h1 class="text-center font-weight-bold">Browse Products</h1>
    <br>
    <div th:each = "products: ${products}"  style="margin: 20px">
        <div class="container border shadow-sm p-3 mb-5 rounded bg-light">
            <div class="row pt-3">
                <div class="col-2">
                    <img class="img-fluid" th:src="@{${products.seedImageStr}}" alt="Card image cap">
                </div>
                <div class="col-6">
                    <h5 class="card-title" th:text = "${products.name}"></h5>
                    <h3 class="card-title" th:text = "${products.price}"></h3>
                    <p class="card-text" th:text = "${products.description}"></p>
                    <div class="col-4">
                        <a class="btn btn-info" th:href="@{/productview(info, name=${products.name})}">View</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>

