<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users that exist here</title>
</head>

<h1>Browse Products</h1>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    <!--For-Loop with thymeleaf -->
    <tr th:each = "products : ${products}">
        <td th:text = "${products.name}"></td>
        <td th:text = "${products.price}"></td>
        <td th:text = "${products.description}"></td>
    </tr>
</table>

</body>
</html>