<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin Header</title>
</head>
<body>
<div th:fragment="header">
    <header id="nav" class="sticky-nav-2">
        <nav class="container-8 w-container">
            <div>
                <a th:href="@{/}" class="link-block-10 w-inline-block">
                    <h5 class="heading-9">5ECommerce</h5>
                </a>
            </div>
            <div>
                <a th:href="@{index}" class="link-block-10 w-inline-block">
                    <h5 class="heading-9">Home</h5>
                </a>
            </div>
            <div>
                <a th:href="@{messagingPortal}"  class="link-block-10 w-inline-block">
                    <h5 class="heading-9">Messages</h5>
                </a>
            </div>
            <div>
                <div class="form-block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" th:action="@{/logout}" th:method="post" class="form">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button w-button">
                    </form>
                </div>
            </div>
        </nav>
    </header>
</div>
</body>
</html>