<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Your Account Overview</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CommonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Buyer/BuyerAccountOverview.webflow.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-3a5857c09192-93440a28"><a href="#" class="nav-logo-link w-inline-block"></a></li>
            <li><a href="#" class="nav-link-2">About</a></li>
            <li><a href="#" class="nav-link-2">Cart</a></li>
            <li><a href="#" class="w-button">Sign Out</a></li>
        </ul>
    </nav>
</header>
<div class="section-4">
    <div class="container-7 w-container">
        <div class="div-block-12">
            <h2>Your Customer Account Overview</h2>
        </div>
    </div>
    <div class="container-3 w-container">
        <div class="div-block-9">
            <a href="#" class="link-block w-inline-block">
                <h3 class="heading-3">Orders</h3>
                <p class="paragraph">Review Your Orders</p>
            </a>
        </div>
        <div class="div-block-7">
            <a href="#" class="link-block-2 w-inline-block">
                <h3 class="heading-2"> Security</h3>
                <p class="paragraph">Review Your Sign In</p>
            </a>
        </div>
        <div class="div-block-8">
            <a href="#" class="link-block-3 w-inline-block">
                <h3 class="heading-4">Payment Info</h3>
                <p class="paragraph">Review Your Payment</p>
            </a>
        </div>
        <div class="div-block-10">
            <a href="#" class="link-block-4 w-inline-block">
                <h3>Shipping</h3>
                <p class="paragraph">Review Your Shipping<br>Address</p>
            </a>
        </div>
        <div class="div-block-11">
            <a href="#" class="link-block-5 w-inline-block">
                <h3>Sell</h3>
                <p class="paragraph">Learn About Our <br>Merchant Program</p>
            </a>
        </div>
        <div class="div-block-11">
            <a href="#" class="link-block-6 w-inline-block">
                <h3>Service</h3>
                <p class="paragraph">Learn About Our <br>Terms of Service</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>