<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="fragments/header :: common-header">
        <title>Log In</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <h1 class="text-center font-weight-bold">Log In</h1>

    <div class="container">

    <div class="form-group">
      <label for="username">Username:</label>
     <input type="username" class="form-control" id="username" placeholder="Enter email" name="email">
    </div>

        <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" class="form"th:action="@{/login}" method="post">
            <div class="contact-form-grid">

                <div id="w-node-ae69e02d958b-3229ec8d">
                    <label for="UserName" id="username" class="field-label">User Name *</label>
                    <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Your User Name" id="username" required=""></div>
                <div id="w-node-ae69e02d9597-3229ec8d">
                    <label for="Password" id="password" class="field-label-4">Password *</label>
                    <input type="password" class="w-input" maxlength="256" name="password" data-name="password" placeholder="Your Password" id="password" required="">
                </div>
            </div>
            <input type="submit" value="Submit" data-wait="Please wait..." class="w-button">
        </form>

</body>
</html>