<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" type="text/css" th:href="@{/css/loginCSS/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
</head>
<body class="body">
<div>
    <div class="container-5 w-container">
        <a th:href="@{/index}" class="link-block-5 w-inline-block">
            <h1 class="heading-6">5ECommerce</h1>
        </a>
    </div>
</div>
<div class="section-2">
    <div class="w-container">
        <div class="div-block-2">
            <div class="w-form">
                <form id="wf-form-LoginForm" name="wf-form-LoginForm" data-name="LoginForm" method="post" class="form" th:action="@{/login}" th:method="post">
                    <label for="username" class="field-label">Username</label><input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="" id="username" required="">
                    <label for="password" class="field-label-2">Password</label><input type="password" class="w-input" maxlength="256" name="password" data-name="password" placeholder="" id="password" required="">
                    <div class="div-block-3">
                        <input type="submit" value="Login" data-wait="Please wait..." class="w-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>