<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Merchant Account Overview</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/seller/sellerHomePage.css}"/>
</head>

<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="container-8 w-container">
        <div class="div-block-13">
            <h5>5ECommerce</h5>
        </div>
        <a th:href="@{index}" class="link-block-7 w-inline-block">
            <h5>Home</h5>
        </a>
        <div class="div-block-14">
            <a th:href="@{messagingPortal}" class="link-block-7 w-inline-block">
                <h5>Messages</h5>
            </a>
        </div>
        <div>
            <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form" th:action="@{/logout}" th:method="post">
                    <input type="submit" value="logout" data-wait="Please wait..." class="submit-button w-button">
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="section-4">
    <div class="container-7 w-container">
        <div class="div-block-12">
            <h2>Your Merchant Account Overview</h2>
        </div>
    </div>
    <div class="container-3 w-container">
        <div class="div-block-9">
            <a href="#" class="link-block w-inline-block">
                <h3 class="heading-3">Sold Items</h3>
                <p class="paragraph">Review Your Recently <br>Sold Items</p>
            </a>
        </div>
        <div class="div-block-7">
            <a th:href="@{viewProducts}" class="link-block-2 w-inline-block">
                <h3 class="heading-2">Your Items</h3>
                <p class="paragraph">Add Item to sell<br>Remove Item for Sale</p>
            </a>
        </div>
        <div class="div-block-8">
            <a href="#" class="link-block-3 w-inline-block">
                <h3 class="heading-4">Payment Info</h3>
                <p class="paragraph">Review Your Payment</p>
            </a>
        </div>
        <div class="div-block-10">
            <a th:href="@{alterSellerInfo}" class="link-block-4 w-inline-block">
                <h3>Security</h3>
                <p class="paragraph">Review Your Personal<br>Information</p>
            </a>
        </div>
        <div class="div-block-11">
            <a href="#" class="link-block-5 w-inline-block">
                <h3>Statements</h3>
                <p class="paragraph">Review Your Total<br>Credited Income</p>
            </a>
        </div>
        <div class="div-block-11">
            <a th:href="@{TOS}" class="link-block-6 w-inline-block">
                <h3>Service</h3>
                <p class="paragraph">Learn About Our <br>Terms of Service</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>