<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Merchant Account Overview</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/seller/sellerHomepage.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav">
    <nav class="container w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li class="list-item"><a th:href="@{/}" class="nav-link">5ECommerce</a></li>
            <li><a th:href="@{index}" class="nav-link">Home</a></li>
            <li><a th:href="@{messagingPortal}" class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="w-button"></form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="section">
    <div class="container-2 w-container">
        <div>
            <h1>You Merchant Account Overview</h1>
        </div>
    </div>
</div>
<div>
    <div class="container-3 w-container">
        <a th:href="@{soldItems}" class="link-block w-inline-block">
            <h3 class="heading">Sold Item</h3>
            <p class="paragraph">Review Your Recently<br>Sold items</p>
        </a>
        <a th:href="@{viewProducts}" class="link-block w-inline-block">
            <h3 class="heading">Your Items</h3>
            <p class="paragraph">Add Items to Sell,<br>Remove Items for Sale</p>
        </a>
    </div>
    <div class="container-4 w-container">
        <a th:href="@{alterSellerInfo}" class="link-block w-inline-block">
            <h3 class="heading">Security</h3>
            <p class="paragraph">Review Your Personal<br>Information</p>
        </a>
        <a th:href="@{TOS}" class="link-block-2 w-inline-block">
            <h3 class="heading">Service</h3>
            <p class="paragraph">Learn About Our<br>Terms of Service</p>
        </a>
    </div>
</div>
</body>
</html>