<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sold Items</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/seller/soldItems.css}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

</head>
<body class="body">
<header id="nav" class="sticky-nav">
    <nav class="container w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li class="list-item"><a th:href="@{/}" class="nav-link">5ECommerce</a></li>
            <li><a th:href="@{index}" class="nav-link">Home</a></li>
            <li class="list-item"><a th:href="@{messagingPortal}" class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="section">
    <div class="container-2 w-container">
        <div>
            <h1 class="heading-2">Your Sold Items</h1>
        </div>
    </div>
</div>
<div>
    <table class="table">
        <thead class="text-center">
        <tr>
            <th style="color: white;">Product Name&nbsp;</th>
            <th>Buyer Name</th>
            <th>Sold Date</th>
            <th>Price</th>
            <th>Quantity</th>
            <th style="width: 200px;">Message Buyer</th>
        </tr>
        </thead>
        <tbody class="text-center" th:each="product : ${soldProducts}">
        <tr>
            <td th:text="${product.getItemName()}" style="color: white;">Item Name</td>
            <td th:text="${product.getBuyerUsername()}">Buyer name</td>
            <td th:text="${product.getSoldDate()}">date sold</td>
            <td th:text="${product.getItemPrice()}">price</td>
            <td th:text="${product.getItemQuantity()}">quantity</td>
            <td>
                <a class="btn btn-primary btn-lg text-uppercase text-center text-white visible" role="button" th:href="@{composeMessage(username=${product.getBuyerUsername()})}" >Message</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>