<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <head th:replace="fragments/header :: common-header">
    <title>Your Products</title>
        <div th:replace="fragments/header :: header"></div>
</head>
<body class="body">

<h1 class="text-center font-weight-bold">View Products For Sale</h1>
<br>
<div class="container">
    <div class="row">
        <table class="table table-striped" style="border-style: solid;">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Remove?</th>
                </tr>
            </thead>
            <tr th:if="${products.empty}">Product List Empty</tr>
            <tr th:each = "product: ${products}"  style="margin: 20px">
                <th scope="row" th:text="${product.getName()}"> </th>
                <td th:text="${product.getQuantity()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td class="remove">
                    <a th:href="@{removeProduct(productName=${product.getName()}, sellerUsername = ${product.getSeller().getUsername()})}" class="w-button"> X </a>
                </td>
            </tr>
        </table>
        </div>

    <div class="align-right" style="float:left;">
        <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/seller/addProduct'">Add a New Product For Sale</button>
    </div>
</div>
</body>
</html>
