<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="UTF-8">
    <title>Add Product</title>
    <head th:replace="fragments/header :: common-header">
    </head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1 class="text-center font-weight-bold">Add Review</h1>

<div class="container">

    <form action="#" th:action="@{saveReview(productName=${product.name},sellerUsername =${product.getSeller().getUsername()})}" th:object="${Review}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{content}" id="review" name="review">
        </div>
        <button type="submit">add review <button>
    </form>


</div>
</body>