<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Out</title>
    <head th:replace="fragments/header :: common-header">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <title>Shopping Cart</title>
    </head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <h2>Thank you, your order has been placed</h2>
    <br>
    <div class="align-right" style="float:left;">
        <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/productview'">Continue Shopping</button>
    </div>
    <br>
    <br>
    <div class="align-right" style="float:left;">
        <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/buyer/orders'">View Orders</button>
    </div>
</body>
</html>