<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Customer Account Overview</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buyerCSS/BuyerHomePage.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="container-8 w-container">
        <div class="div-block-13">
            <h5>5ECommerce</h5>
        </div>
        <a href="#" class="link-block-7 w-inline-block">
            <h5>Home</h5>
        </a>
        <div class="div-block-14">
            <form action="/search" class="search-2 w-form">
                <input type="search" class="search-input w-input" maxlength="256" name="query" placeholder="Search…" id="search" required="">
                <input type="submit" value="Search" class="search-button-2 w-button">
            </form>
        </div>
        <div>
            <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form" th:action="@{/logout}">
                    <input type="submit" value="logout" data-wait="Please wait..." class="submit-button w-button"></form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="section-4">
    <div class="container-7 w-container">
        <div class="div-block-12">
            <h2>Your Customer Account Overview</h2>
        </div>
    </div>
    <div class="container-3 w-container">
        <div class="div-block-9">
            <a href="#" class="link-block w-inline-block">
                <h3 class="heading-3">Orders</h3>
                <p class="paragraph">Review Your Recent <br>Orders</p>
            </a>
        </div>
        <div class="div-block-7">
            <a href="#" class="link-block-2 w-inline-block">
                <h3 class="heading-2"> Security</h3>
                <p class="paragraph">Review Your Sign In</p>
            </a>
        </div>
        <div class="div-block-8">
            <a href="#" class="link-block-3 w-inline-block">
                <h3 class="heading-4">Payment Info</h3>
                <p class="paragraph">Review Your Payment</p>
            </a>
        </div>
        <div class="div-block-10">
            <a href="#" class="link-block-4 w-inline-block">
                <h3>Shipping</h3>
                <p class="paragraph">Review Your Shipping<br>Address</p>
            </a>
        </div>
        <div class="div-block-11">
            <a href="#" class="link-block-5 w-inline-block">
                <h3>Sell</h3>
                <p class="paragraph">Learn About Our<br>Merchant Program</p>
            </a>
        </div>
        <div class="div-block-11">
            <a href="#" class="link-block-6 w-inline-block">
                <h3>Service</h3>
                <p class="paragraph">Learn About Our <br>Terms of Service</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>