<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messaging Portal</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/messagingPortal.css}"/>

</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="w-container">
        <ul role="list" class="nav-grid-2 w-list-unstyled">
            <li><a th:href="@{/}" class="nav-link">5SECommerce</a></li>
            <li><a th:href="@{index}" class="nav-link">Home</a></li>
            <li><a th:href="@{messagingPortal}" class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button-2 w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="container-4 w-container">
        <div>
            <h1>Messaging Portal </h1>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="container-5 w-container">
        <a href="#" class="link-block-3 w-inline-block">
            <h2 class="heading-4">Compose</h2>
            <p>Compose A Message<br>To Someone</p>
        </a>
        <a href="#" class="link-block-3 w-inline-block">
            <h2 class="heading-4">Inbox</h2>
            <p>View your Message<br>Inbox</p>
        </a>
    </div>
</div>
</body>
</html>