<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Inbox</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonWebFlow/webflow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messagingCSS/messageInbox.css}"/>
</head>
<body class="body">
<header id="nav" class="sticky-nav-2">
    <nav class="w-container">
        <ul role="list" class="nav-grid-2 w-list-unstyled">
            <li><a th:href="@{/}" class="nav-link">5SECommerce</a></li>
            <li><a th:href="@{index}" class="nav-link">Home</a></li>
            <li><a th:href="@{messagingPortal}" class="nav-link">Messages</a></li>
            <li>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" class="form" th:action="@{/logout}">
                        <input type="submit" value="Logout" data-wait="Please wait..." class="submit-button-2 w-button">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div>
    <div class="container-2 w-container">
        <div class="w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
                <label for="username">Search Inbox By From:</label>
                    <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="Search By Username.." id="username">
                <input type="submit" value="Search Inbox" data-wait="Please wait..." class="w-button">
            </form>
        </div>
    </div>
    <div class="container w-container">
        <div>
            <h1>Your Inbox</h1>
        </div>
    </div>
    <div class="w-container">
        <ul role="list" class="list">
            <li>From</li>
            <li>Subject</li>
            <li>View</li>
        </ul>
        <ul role="list" class="list" th:each="message: ${messages}">
            <li th:text=" ${message.getValue()}"> From</li>
            <!--<li th:text="${message.subject}">Subject</li>  -->
            <li class="w-button" style="text-decoration: none;">
                <a href= # style="text-decoration: none; color: white;">
                View
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>